# Build artifacts
.build/
DerivedData/
*.xcworkspace

# Xcode user data
xcuserdata/
*.xcuserdatad

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Package.resolved

# WIP BlackoutMetalSaver
BlackoutMetalSaver/